h1 {
    text-align: center;
}

.formulario-empleados {
    border-style: solid;
    padding: 10px;
    margin: auto;
    width: 50%;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 8px, 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing:border-box;
}

input[type=submit] {
    width: 30%;
    background-color: black;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botones-accion-formulario {
    text-align:right;
}

.tabla-empleados{
    border-style: solid;
    padding: 20px;
    margin: auto;
    width: 70%;
}

body > tabke{
    width: 80%;
}

table{
    width: 80%;
    border-collapse: collapse;
}

table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}